@use "sass:math" as math;


/* ========== Mixins and Functions ==========  */

// Mixins

@mixin card($padding: $spacing-64) {
    box-sizing: border-box;
    border-radius: 25px;
    background-color: $primary-color;
    color: white;
    padding: $padding;
}

@mixin remove-Y-margins($top: true, $bottom: true) {
    @if $top {
        margin-top: 0px;
    }
    @if $bottom {
        margin-bottom: 0px; 
    }
}


// Functions



/* ========== Color System ========== */

$primary-color: #6064d2;
$secondary-color: #00a896;
$success: #caffbf;
$danger: #ffadad;
$warning: #fdffd6;
$info: #9bf6ff;
$monochrome-1: #f8f9fa;
$monochrome-2: #dee2e6;
$monochrome-3: #adb5bd;
$monochrome-4: #495057;
$monochrome-5: #213529;



/* ========== Font System ========== */

@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Fredoka&display=swap");

$text-base-size: 1rem;
$text-scale-ratio: 1.333;

@mixin text-size($header: true, $number) {
    $font-size: $text-base-size;
    @if $header {
        $font-size: $font-size * math.pow($text-scale-ratio, 7-$number);
        font-family: "Fredoka", sans-serif;
        font-weight: normal;
    } @else {
        $font-size: $font-size - $number;
        font-family: "ABeeZee", sans-serif;
    }
    font-size: $font-size;
    line-height: $font-size * 1.5;
    @include remove-Y-margins(true, true);
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #dee2e6;
}

h1 {
    @include text-size(true, 1);
    color: $primary-color;
}

h2 {
    @include text-size(true, 2);
}

h3 {
    @include text-size(true, 3);
}

h4 {
    @include text-size(true, 4);
}

h5 {
    @include text-size(true, 5);
}

h6 {
    @include text-size(true, 6);
}

p {
    @include text-size(false, 0);
}

.button-text {
    @include text-size(false, 0.135);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
}

.caption-text {
    @include text-size(false, 0.25);
}

.overline-text {
    @include text-size(false, 0.375);
}



/* ========== Spacing System ========== */

$baseline-spacing: 8px;
$spacing-16: 1rem;
$spacing-24: 1.5;
$spacing-32: 2rem;
$spacing-40: 2.5rem;
$spacing-48: 3rem;
$spacing-56: 3.5rem;
$spacing-64: 4rem;
$spacing-80: 5rem;


/* ========== Fixed Styles ========== */

// Elements

a {
    color: $info;
}

input {
    @include text-size(false, 0);
    box-sizing: border-box;
    border: 15px solid white;
    border-radius: 25px;
    height: 48px;
    width: 100%;
}



// Classes

.button-primary {
    display: inline-block;
    background-color: $secondary-color;
    padding: $spacing-16 $spacing-56;
    border-radius: 25px;
    border: none;
    text-align: center;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
        filter: brightness(85%);
        // box-shadow: inset 0px 0px 10px 2px rgb(0, 0, 0, 5);
    }
}

.footer {
    grid-area: footer;
    background-color: $primary-color;
    color: $monochrome-1;
    padding: $spacing-40 $spacing-80;
    height: 208px;
    & p:nth-child(1) {
        margin-bottom: $spacing-40;
    }
}



/* ========== Component Styles ========== */

.login-grid-container {
    display: grid;
    grid-template-areas:
        "login-hero login-hero login-hero login-hero login-hero login-hero login-hero login-form login-form login-form login-form login-form"
        "footer footer footer footer footer footer footer footer footer footer footer footer";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /*   grid-template: 1fr / repeat(12, 1fr); */
    column-gap: $spacing-16;
    & .login-hero {
        grid-area: login-hero;
        height: 100vh;
        display: flex;
        flex-direction: row;
        margin-left: $spacing-32;
        & .login-hero-content {
            margin: auto 116px;
            & h1 {
				margin-bottom: $spacing-16;
            //     color: $primary-color;
            }
            & p {
            }
        }
    }

    & .login-form {
        grid-area: login-form;
        display: grid;
        margin-right: $spacing-32;
        & .login-form-card {
            @include card($spacing-64);
            margin: auto 0px;

            & h3,
            button,
            a,
            #login-username,
            #reset-password {
                margin-bottom: $spacing-40;
            }

            & h6,
            #login-password {
                margin-bottom: $spacing-16;
            }

            & p {
                @include remove-Y-margins(true, true);
            }
        }
    }
}

.request-account-grid-container {
    display: grid;
    grid-template-areas:
        "request-account-hero"
        "footer";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    & .request-account-form {
        grid-area: request-account-hero;
		display: grid;
		grid-template-columns: 3.5fr 5fr 3.5fr;
		grid-template-rows: min-content auto;
        box-sizing: border-box;
        height: 100vh;
		margin: 0 $spacing-32;
        padding: $spacing-80 0;
		gap: $spacing-16;
		& .request-account-form-title {
			grid-column: 2 / 4;
			& h1 {
				margin-bottom: $spacing-16;
			}

			& p {
				margin-bottom: $spacing-40;
			}	
		}
        & .request-account-form-container {
			grid-column: 2 / span 1;	

			// If headings are inside the container
			//
			// & h1 {
			// 	margin-bottom: $spacing-16;
			// }

			// & p {
			// 	margin-bottom: $spacing-40;
			// }	

            & .request-account-form-card {
                @include card();
                & h6 {
                   margin-bottom: $spacing-16; 
                }

                & input {
                    margin-bottom: $spacing-40;
                }
            }
        }
    }
}


.reset-password-grid-container {
    display: grid;
    grid-template-areas:
        "request-account-form"
        "footer";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    & .reset-password-form {
        grid-area: request-account-form;
		display: grid;
		grid-template-columns: 3.5fr 5fr 3.5fr;
		grid-template-rows: min-content auto;
        box-sizing: border-box;
        height: 100vh;
		margin: 0 $spacing-32;
        padding: $spacing-80 0;
		column-gap: $spacing-16;
		& .reset-password-form-title {
			grid-column: 2 / 4;
			& h1 {
				margin-bottom: $spacing-16;
			}

			& p {
				margin-bottom: $spacing-40;
			}	
		}
        & .reset-password-form-card-grid-container {
			grid-column: 2 / span 1;	
            & .reset-password-form-card {
                @include card();
                & h6 {
                   margin-bottom: $spacing-16; 
                }

                & input {
                    margin-bottom: $spacing-40;
                }
            }
        }
    }
}


.dashboard-grid-container {
	display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto;
	grid-template-areas:
		'dashboard-nav-sidebar dashboard-nav-sidebar . dashboard-main-content dashboard-main-content dashboard-main-content dashboard-main-content dashboard-main-content dashboard-main-content dashboard-main-content dashboard-main-content .' 
		'dashboard-nav-sidebar dashboard-nav-sidebar footer footer footer footer footer footer footer footer footer footer'; 
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	column-gap: $spacing-16;
    margin: 0 $spacing-32;

	& .dashboard-nav-sidebar {
		grid-area: dashboard-nav-sidebar;	
        display: flex;
        flex-direction: column;
		background-color: $primary-color;
		color: white;
        margin: 0rem 0rem 0rem (-$spacing-32);
		height: 100%;

        & .profile-nav-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: $spacing-16 $spacing-16 0rem;
            & .profile-picture {
                box-sizing: border-box; 
                height: $spacing-48;
                width: $spacing-48;
                background-color: $monochrome-3;
                border-radius: 10px;
            }

            & .profile-label {
                margin-left: $baseline-spacing;
            }

            & .logout-icon {
                margin-left: auto;
            }
        }
	}	

	& .dashboard-main-content {
		grid-area: dashboard-main-content;
		height: 100vh;
	}

    & .footer {
        margin: 0rem (-$spacing-32) 0rem (-$spacing-16);
        box-shadow: inset 10px 0px 5px rgb(0, 0, 0, 25%);
    }

}
