@use "sass:math"as math;


/* ========== Mixins and Functions ==========  */

// Mixins

@mixin card($padding: $spacing-64) {
    box-sizing: border-box;
    border-radius: 25px;
    background-color: $primary-color;
    color: white;
    padding: $padding;
}

@mixin switch {
	display: flex;
	align-items: end;
	justify-content: center;
	.switch {
		position: relative;
		display: inline-block;
		width: $spacing-64;
		height: $spacing-40;
		input {
			opacity: 0;
			width: 0;
			height: 0;
			&:checked {
				+ .slider {
					background-color: $secondary-color;
					&:before {
						-webkit-transform: translateX($spacing-24);
						-ms-transform: translateX($spacing-24);
						transform: translateX($spacing-24);
					}
				}
			}
			&:focus{
				+ .slider {
					box-shadow: 0 0 4px $secondary-color;
				}
			}
		}
		.slider {
			position: absolute;
			cursor: pointer;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: $monochrome-3;
			-webkit-transition: .4s;
			transition: .4s;
			border-radius: 25px;
			&:before {
				position: absolute;
				content: "";
				height: $spacing-24;
				width: $spacing-24;
				left: $baseline-spacing;
				bottom: $baseline-spacing;
				background-color: white;
				-webkit-transition: .4s;
				transition: .4s;
				border-radius: 25px;
			}
		}
	}
}

@mixin remove-Y-margins($top: true, $bottom: true) {
    @if $top {
        margin-top: 0px;
    }

    @if $bottom {
        margin-bottom: 0px;
    }
}


// Functions



/* ========== Color System ========== */

$primary-color: #6064d2;
$secondary-color: #00a896;
$success: #caffbf;
$danger: #ffadad;
$warning: #fdffd6;
$info: #9bf6ff;
$monochrome-1: #f8f9fa;
$monochrome-2: #dee2e6;
$monochrome-3: #adb5bd;
$monochrome-4: #495057;
$monochrome-5: #213529;



/* ========== Font System ========== */

@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Fredoka&display=swap");

$text-base-size: 1rem;
$text-scale-ratio: 1.333;

@mixin text-size($header: true, $number) {
    $font-size: $text-base-size;

    @if $header {
        $font-size: $font-size * math.pow($text-scale-ratio, 7-$number);
        font-family: "Fredoka", sans-serif;
        font-weight: normal;
    }

    @else {
        $font-size: $font-size - $number;
        font-family: "ABeeZee", sans-serif;
    }

    font-size: $font-size;
    line-height: $font-size * 1.5;
    @include remove-Y-margins(true, true);
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #dee2e6;
    margin: 0;
}

h1 {
    @include text-size(true, 1);
    color: $primary-color;
}

h2 {
    @include text-size(true, 2);
}

h3 {
    @include text-size(true, 3);
}

h4 {
    @include text-size(true, 4);
}

h5 {
    @include text-size(true, 5);
}

h6 {
    @include text-size(true, 6);
}

p {
    @include text-size(false, 0);
}

.button-text {
    @include text-size(false, 0.135);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
}

.caption-text {
    @include text-size(false, 0.25);
}

.overline-text {
    @include text-size(false, 0.375);
}



/* ========== Spacing System ========== */

$baseline-spacing: 8px;
$spacing-16: 1rem;
$spacing-24: 1.5rem;
$spacing-32: 2rem;
$spacing-40: 2.5rem;
$spacing-48: 3rem;
$spacing-56: 3.5rem;
$spacing-64: 4rem;
$spacing-80: 5rem;


/* ========== Breakpoints ========== */

$media_queries: (
    'mobile': unquote("only screen and (max-width: 480px)"),
	'desktop': unquote("only screen and (min-width: 481px) and (max-width: 1024px)"),
	'landscape': unquote("screen and (orientation: landscape)"),
	'portrait': unquote("screen and (orientation: portrait)")
);

@mixin breakpoint($breakpoints) {
	$conditions: ();
	@each $breakpoint in $breakpoints {
		$conditions: append($conditions, #{inspect(map-get($media_queries, $breakpoint))}, comma);
	}

	@media #{$conditions} {
		@content;
	}
}

/* ========== Fixed Styles ========== */

// Elements

a {
    color: $info;
	
	@include breakpoint(desktop) {
		color: blue;
	}
}

input, select {
	&:not([type="checkbox"]) {
		@include text-size(false, 0);
		box-sizing: border-box;
		border: 15px solid white;
		border-radius: 25px;
		padding: 0 $baseline-spacing;
		height: $spacing-48;
		width: 100%;
		&:focus {
			// outline: none;
			outline-width: 3px;
			outline-color: $secondary-color;
			outline-style: solid;
			// border: 1px solid $secondary-color;
			// box-shadow: 0 0 20px $secondary-color;
		}
	}
}

ion-icon {
    font-size: 24px;
    text-decoration: none;
    color: white;
}

[x-cloak] {
	display: none !important;
}

// Classes

.button-primary {
    @extend .button-text;
    display: inline-block;
    background-color: $secondary-color;
    padding: $spacing-16 $spacing-56;
    border-radius: 25px;
    border: none;
    text-align: center;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        filter: brightness(85%);
        // box-shadow: inset 0px 0px 10px 2px rgb(0, 0, 0, 5);
    }
}

.footer {
    grid-area: footer;
    background-color: $primary-color;
    color: $monochrome-1;
    margin: $spacing-80 0 0;
    padding: $spacing-40 $spacing-80;
    height: 208px;

    p:nth-child(1) {
        margin-bottom: $spacing-40;
    }
}


.nav-sidebar {
    grid-area: nav-sidebar;
    display: flex;
    flex-direction: column;
    background-color: $primary-color;
    color: white;
    margin: 0rem 0rem 0rem (-$spacing-32);
    height: 100%;
    .nav-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        margin: 0 $baseline-spacing $spacing-16;
        padding: $baseline-spacing $spacing-16;
        &:first-child {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: $spacing-16 $spacing-16 0rem;
            margin-bottom: $spacing-40;
            .profile-nav-item {
                cursor: pointer;
                display: flex;
                flex-direction: row;
                align-items: center;
                .profile-picture {
                    box-sizing: border-box;
                    height: $spacing-48;
                    width: $spacing-48;
                    background-color: $monochrome-3;
                    border-radius: 10px;
                }
                .profile-label {
                    margin-left: $baseline-spacing;
                }
            }
            .logout-icon {
                margin-left: auto;
            }
        }
        &.active {
            background-color: $secondary-color;
            border-radius: 10px;
            @extend .nav-item;
        }
        .nav-icon {
            margin-right: $spacing-16;
        }
    }
}

.modal {
	position: fixed;
	z-index: 3;
	inset: 0;
	overflow-y: auto;

	// Nasty way of doing this because it won't work unless
	.modal-bg-profile {
		background-color: rgb(255,255,255,0.75);
		height: 100%;
		overflow-y: auto;
		.modal-card {
			@include card();	
			display: flex;
			flex-direction: column;
			margin: $spacing-40;
			.modal-card-header {
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				margin-bottom: $spacing-40;
				button {
					display: flex;
					align-items: center;
					padding: $spacing-16;
					border-radius: 100%;
				}
			}
			.modal-card-body {
				text-align: center;
			}
		}
	}
	.modal-bg {
		background-color: rgb(255,255,255,0.75);
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		overflow-y: auto;
		.modal-card {
			@include card();	
			display: flex;
			flex-direction: column;
			margin: $spacing-40;
			.modal-card-header {
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				margin-bottom: $spacing-40;
				button {
					display: flex;
					align-items: center;
					padding: $spacing-16;
					border-radius: 100%;
				}
			}
			.modal-card-body {
				text-align: center;
			}
		}
	}
}


.dropdown {
	.dropdown-button {
		@extend .button-primary;
		display: inline-flex;
		align-items: center;
		font-size: 24px;
		padding: $baseline-spacing $spacing-16;
		height: 100%;
		gap: $spacing-16;
	}
	.dropdown-menu {
		z-index: 1;
		box-sizing: border-box;
		position: absolute;
		top: $spacing-56;
		left: 0;
		background-color: $monochrome-1;
		color: black;
		padding: $baseline-spacing $spacing-16;
		border-radius: 25px;
		width: 100%;
		.dropdown-menu-section {
			@extend .overline-text;
			text-transform: uppercase;
			color: $monochrome-5;
			&:not(:first-child) {
				margin-top: $spacing-16;
			}
		}
		.dropdown-menu-item {
			display: flex;
			flex-direction: row;
			input {
				margin-right: $spacing-16;
			}
		}
	}
}

.search {
	display: flex;
	flex-direction: row;
	margin-bottom: $spacing-16;
	position: relative;
	.filter-menu {
		z-index: 1;
		display: grid;
		column-gap: $spacing-16;
		box-sizing: border-box;
		position: absolute;
		top: $spacing-56;
		left: 0;
		background-color: $monochrome-1;
		color: black;
		padding: $baseline-spacing $spacing-16;
		border-radius: 25px;
		.filter-menu-section {
			.filter-menu-section-title {
				@extend .overline-text;
				text-transform: uppercase;
				color: $monochrome-5;
				&:not(:first-child) {
					margin-top: $spacing-16;
				}
			}
			.filter-menu-item {
				display: flex;
				flex-direction: row;
				align-items: center;
				.toggle-active {
					@include switch;
					margin-left: auto;
					transform: scale(50%); 
					--moz-transform: scale(50%);
					--webkit-transform: scale(50%);
					
				}
			}
		}
	}
	.search-bar {
		margin-left: $spacing-16;
	}
}




/* ========== Component Styles ========== */

.login-grid-container {
    display: grid;
    grid-template-areas:
        "login-hero login-hero login-hero login-hero login-hero login-hero login-hero login-form login-form login-form login-form login-form"
        "footer footer footer footer footer footer footer footer footer footer footer footer";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /*   grid-template: 1fr / repeat(12, 1fr); */
    column-gap: $spacing-16;

    .login-hero {
        grid-area: login-hero;
        height: 100vh;
        display: flex;
        flex-direction: row;
        margin-left: $spacing-32;

        .login-hero-content {
            margin: auto 116px;

            h1 {
                margin-bottom: $spacing-16;
                //     color: $primary-color;
            }
        }
    }

    .login-form {
        grid-area: login-form;
        display: grid;
        margin-right: $spacing-32;

        .login-form-card {
            @include card($spacing-64);
            margin: auto 0px;

            h3,
            button,
            a,
            #login-username,
            #reset-password {
                margin-bottom: $spacing-40;
            }

            h6,
            #login-password {
                margin-bottom: $spacing-16;
            }

            p {
                @include remove-Y-margins(true, true);
            }
        }
    }
}

.request-account-grid-container {
    display: grid;
    grid-template-areas:
        "request-account-hero"
        "footer";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    .request-account-form {
        grid-area: request-account-hero;
        display: grid;
        grid-template-columns: 3.5fr 5fr 3.5fr;
        grid-template-rows: min-content auto;
        box-sizing: border-box;
        height: 100vh;
        margin: 0 $spacing-32;
        padding: $spacing-80 0;
        gap: $spacing-16;

        .request-account-form-title {
            grid-column: 2 / 4;

            h1 {
                margin-bottom: $spacing-16;
            }

            p {
                margin-bottom: $spacing-40;
            }
        }

        .request-account-form-container {
            grid-column: 2 / span 1;

            // If headings are inside the container
            //
            // & h1 {
            // 	margin-bottom: $spacing-16;
            // }

            // & p {
            // 	margin-bottom: $spacing-40;
            // }	

            .request-account-form-card {
                @include card();

                h6 {
                    margin-bottom: $spacing-16;
                }

                input, select {
                    margin-bottom: $spacing-40;
                }
            }
        }
    }
}


.reset-password-grid-container {
    display: grid;
    grid-template-areas:
        "request-account-form"
        "footer";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    .reset-password-form {
        grid-area: request-account-form;
        display: grid;
        grid-template-columns: 3.5fr 5fr 3.5fr;
        grid-template-rows: min-content auto;
        box-sizing: border-box;
        height: 100vh;
        margin: 0 $spacing-32;
        padding: $spacing-80 0;
        column-gap: $spacing-16;

        .reset-password-form-title {
            grid-column: 2 / 4;

            h1 {
                margin-bottom: $spacing-16;
            }

            p {
                margin-bottom: $spacing-40;
            }
        }

        .reset-password-form-card-grid-container {
            grid-column: 2 / span 1;
            margin-bottom: $spacing-80;

            .reset-password-form-card {
                @include card();

                h6 {
                    margin-bottom: $spacing-16;
                }

                input {
                    margin-bottom: $spacing-40;
                }
            }
        }
    }
}


.main-grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto;
    grid-template-areas:
        'nav-sidebar nav-sidebar . main-content main-content main-content main-content main-content main-content main-content main-content .'
        'nav-sidebar nav-sidebar footer footer footer footer footer footer footer footer footer footer';
    position: absolute;
    min-height: 100%;
    top: 0;
    left: 0;
    column-gap: $spacing-16;
    margin: 0 $spacing-32;

    .main-content-area {
        grid-area: main-content;
        min-height: 100vh;
        padding-top: $spacing-64; // footer has margin-top: $spacing-80

        .main-content-title {
            margin-bottom: $spacing-40;
        }

        .account-requests-item {
            @include card();
            display: flex;
            flex-direction: row;
            align-items: center;

            div {
                display: flex;
                align-items: center;
				cursor: pointer;
				border-radius: 25px;
				transition: all 0.5s ease-in-out;
				padding: $baseline-spacing;

				&:hover {
					background-color: $secondary-color;
				}

                &:first-of-type {
                    margin-left: auto;
                }

                &:not(:last-child) {
                    margin-right: $spacing-16;
                }

                ion-icon {
                    font-size: $spacing-32;

                    &.accept {
                        color: $success;
                    }

                    &.deny {
                        color: $danger;
                    }
                }
            }

            &:not(:last-child) {
                margin-bottom: $spacing-16;
            }
        }

        .accounts-item {
            @include card();
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: $spacing-16;
			cursor: pointer;

            &:not(:last-child) {
                margin-bottom: $spacing-16
            }

			.name, .role, .email {
				display: flex;
				flex-direction: column
			}

			.toggle-active {
				@include switch;
				display: flex;
				flex-direction: column;
			}
        }
    }

    .footer {
        margin: $spacing-80 (-$spacing-32) 0rem (-$spacing-16);
        box-shadow: inset 10px 0px 5px rgb(0, 0, 0, 25%);
    }

}

.profile-page-grid-container {
    display: grid;
    grid-template: 1fr / repeat(12, 1fr);
    height: 100%;
    top: 0;
    left: 0;
    column-gap: $spacing-16;
    margin: 0 $spacing-32;

    .profile-page-card-grid-container {
        grid-column: 4 / span 6;

        .profile-page-card {
            @include card($spacing-64);
            position: relative;
            display: flex;
            flex-direction: column;
            margin: ($spacing-80 + 6.563rem) 0 $spacing-40 0;
            padding-top: (6.563rem + $spacing-16);

            svg {
                z-index: -1;
                position: absolute;
                border-radius: 25px;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;

                defs mask#circle {
                    rect {
                        fill: white;
                        width: 100vw;
                        height: 100vh;
                    }

                    circle {
                        fill: black;
                    }
                }

                rect {
                    fill: $primary-color;
                    width: 100vw;
                    height: 100vh;
                }
            }

            .profile-picture {
                box-sizing: border-box;
                position: absolute;
                background-color: $monochrome-3;
                // border: 10px solid $monochrome-2;
                border-radius: 50%;
                height: 12.5rem;
                width: 12.5rem;
                /*
				height: 13.125rem;
				width: 13.125rem;
				*/
                left: 0;
                right: 0;
                top: -6.563rem;
                margin: 0 auto;
            }

            .name {
                margin-bottom: $spacing-16;
                text-align: center;
            }

			.name-input-group {
				display: grid;
				grid-template-columns: 1fr 1fr;
				column-gap: $spacing-16;
				margin-bottom: $spacing-16;
				.name-input {
					grid-column: span 1;
				}
			}

            .account-type {
				display: flex;
				justify-content: center;
                margin-bottom: $spacing-40;
				:first-child {
					@extend .button-text;
					display: inline-block;
					border-radius: 25px;
					background-color: $secondary-color;
					padding: $spacing-16 $spacing-56;
					text-align: center;
					color: $monochrome-1;
				}
            }

            .profile-page-card-body {
                display: grid;
                grid-template-columns: 1fr 1fr;
				column-gap: $spacing-16;

                .info-group {
                    .label {
                        margin-bottom: $spacing-16;
                    }

                    .info {
                        margin-bottom: $spacing-40;
                    }
                }
            }
        }
		.profile-button-group {
			display: grid;
			grid-template-columns: 1fr 1fr;
			column-gap: $spacing-16;
			margin-bottom: $spacing-80;	
			.profile-button-section {
				grid-row: span 1;
				display: flex;
				justify-content: center;
				.button-primary {
					width: 100%;
				}
			}
		}
    }
}
