{% extends 'webapp/base.html' %}
{% block title %}Login Page{% endblock title %}
{% block content %}
<div class="login-grid-container">
    <div class="login-hero">
        <div class="login-hero-content">
            <h1>Logo Here</h1>
            <p>Text and Background Picture</p>
            {% for message in messages %}
                {{message}}
            {% endfor %}
        </div>
    </div>
    <div class="login-form">
        <div class="login-form-card">
            <form method='post' action="{% url 'webapp:login' %}">
                {% csrf_token %}
                <h3>Login</h3>
                <h6>Email</h6>
                <input id="login-username" type="text" name="email">
                <h6>Password</h6>
                <input id="login-password" type="password" name="password">
				<a href="{% url 'webapp:reset_password' %}">
					<p id="reset-password" style="text-align: center">
						Forgot Password?
					</p>
				</a>
                <div style="display: flex; justify-content: center">
					<button type="submit" class="button-primary button-text" href="{% url 'webapp:dashboard' %}"> Login </button>
                </div>
                <p>Don't have an account yet? <a href="{% url 'webapp:request_account' %}" style="display: inline;">Request for an account"</a></p>
            </form>
        </div>
    </div>
	{% include 'webapp/footer.html' %}
</div>
{% endblock content %}
