{% extends 'webapp/base.html' %}

{% block content %}
<div class="request-account-grid-container">
	<div class="request-account-form">
		<div class="request-account-form-title">
			<h1>Join us!</h1>
			<p>Please supply the required information</p>
		</div>
		<div class="request-account-form-container">
			<div class="request-account-form-card">
				<form method='post' action="{% url 'webapp:request_account' %}">
					{% csrf_token %}
					<h6>Email</h6>
					<input type="text" name="email">
					<select name="role" id="lang">
						<option value="P">Patient</option>
						<option value="SA">System Admin</option>
						<option value="PT">Physical Therapist</option>
					  </select>

					<div style="display: flex; justify-content: center">
						<button type="submit" class="button-primary button-text" href="{% url 'webapp:login' %}"> Submit </button>
					</div>
				</form>
			</div>
		</div>
	</div>
	{% include 'webapp/footer.html' %}
</div>


{% endblock content %}
