{% extends 'webapp/base.html' %}
{% load widget_tweaks %}

{% block title %}Request Account{% endblock title %}

{% block content %}
<div class="request-account-grid-container">
	<div class="request-account-form">
		<div class="request-account-form-title">
			<h1>Join us!</h1>
			<p>Please supply the required information</p>
		</div>
		<div class="request-account-form-container">
			<div class="request-account-form-card">
				<form action="#" method="post">
					{% csrf_token %}
					<h6>Email Address</h6>
					{{request_form.email}}
					 <h6>Role</h6>
					{{request_form.role}}
					<div style="display: flex; justify-content: center;">
						<button type="submit" class="button-primary button-text"> Submit </button>
					</div>
				</form>
			</div>
		</div>
	</div>
	{% include 'webapp/footer.html' %}
</div>
{% endblock content %}
