{% extends 'webapp/base.html' %}

{% block content %}
<div class="reset-password-grid-container">
	<div class="reset-password-form">
		<div class="reset-password-form-title">
			<h1>Reset Password</h1>
			<p>Please supply the required information</p>
		</div>
		<div class="reset-password-form-card-grid-container">
			<div class="reset-password-form-card">
				<h6>Email Address</h6>
				<input type="Email">
				<div style="display: flex; justify-content: center;">
					<a class="button-primary button-text" href="#">
						Submit
					</a>
				</div>
			</div>
		</div>
	</div>
	{% include 'webapp/footer.html' %}
</div>
{% endblock content %}
