{% extends 'webapp/base.html' %}

{% block title %}Appointments{% endblock title %}

{% block content %}
<div class="main-grid-container">
	{% include 'webapp/nav_sidebar.html' %}
	<div class="main-content-area">
		<h1>Appointments</h1>
        <div class="clearfix">
            <a class="left button-primary button-text" href="{% url 'webapp:calendar' %}"> Go Back </a>
          </div>
          
          <form method="post">
            {% csrf_token %}
            <table class="form form-table">
              {{ form }}
              <br>
              <tr><td colspan="2"><button type="submit" class="button-primary button-text right"> Submit </button></td></tr>
            </table>
          </form>
	</div>

	{% include 'webapp/footer.html' %}
</div>
{% endblock content %}
