{% extends 'webapp/base.html' %}

{% block title %}Patient Profile{% endblock title %}

{% block content %}

<div class="">
  <div class="profile-page-grid-container">
  {% include 'webapp/nav_sidebar.html' %}
  <div class="profile-page-card-grid-container"> {% for account in p_account %}
    <div class="profile-page-card" style="z-index: 0">
      <!--
      Used to create a notch where the profile picture goes
    
      <svg>
        <defs>
          <mask id="circle">
            <rect x="0" y="0" />
            <circle cx="50%" cy="-2" r="6.5625rem" />
          </mask>
        </defs>
        <rect x="0" y="0" mask="url(#circle)" />
      </svg> -->
      <!--
      <div class="profile-picture"></div>
      -->
      <h3 class="name" style="text-transform:capitalize">{{account.first_name}} {{account.last_name}}</h3>
      <div class="account-type"><h6>{{account.get_role_display}}</h6></div>
    
      <div class="profile-page-card-body">
        <div class="info-group">
          <h6 class="label">Age</h6>
          <p class="info">{{account.age}}</p>
        </div>
        <div class="info-group">
          <h6 class="label">Sex</h6>
          <p class="info">{{account.sex}}</p>
        </div>
        <div class="info-group">
          <h6 class="label">Email</h6>
          <p class="info">{{account.email}}</p>
        </div>
        <div class="info-group">
          <h6 class="label">Contact Number</h6>
          <p class="info">{{account.contact_number}}</p>
        </div>

      </div>
    </div> {% empty %} <p>Empty</p>  {% endfor %}
  </div>
</div>
</div>

{% endblock content %}

