{% extends 'webapp/base.html' %}

{% block title %}Profile{% endblock title %}

{% block content %}
<div class="main-grid-container">
  {% include 'webapp/nav_sidebar.html' %}
  <div class="main-content-area">
    <h1>Profile</h1>

    

    <div id="accounts">
        
        <div class="accounts-item">
          <div class="name">
            <h6>Name:</h6>
            <p>{{patient.account.first_name}} {{patient.last_name}}</p>
          </div>

          <div class="email">
            <h6>Email</h6>
            <p>{{patient.account.email}}</p>
          </div>

          <div class="number">
            <h6>Contact No.</h6>
            <p>{{patient.account.contact_number}}</p>
          </div>
          <div class="name">
            <h6>Address</h6>
            <p>{{patient.address}}</p>
          </div>

         

          <div>     
            <a class="button-primary button-text" href="{% url 'webapp:doctor_orders' %}"> View Doctor's order </a>
          </div><br>
         

      </div>
      
    </div>
  </div>

  {% include 'webapp/footer.html' %}
</div>
{% endblock content %}