{% extends 'webapp/base.html' %}

{% block content %}
<div class="reset-password-grid-container">
	<div class="reset-password-form">
		<div class="reset-password-form-title">
			<h1>Reset Password</h1>
			<p>Please supply the required information</p>
		</div>
		<div class="reset-password-form-card-grid-container">
			<div class="reset-password-form-card">
				<form method="post">
					{% csrf_token %}
					<h6>Email Address</h6>
					{{ form.email }}
					<button style="display:block; margin: 0 auto;" type="submit" class="button-primary button-text">
						Submit
					</button>
				</form>
			</div>
		</div>
	</div>
	{% include 'webapp/footer.html' %}
</div>
{% endblock content %}
