{% extends 'webapp/base.html' %}

{% block content %}
<div class="reset-password-grid-container">
	<div class="reset-password-form">
		<div class="reset-password-form-title">
			<h1>Reset Password</h1>
		</div>
		<div class="reset-password-form-card-grid-container">
			<p>Your password has been successfuly reset!</p>
			<div style="display: flex; justify-content: center; margin: 40px auto 0;">
				<a class="button-primary" href="{% url 'webapp:login' %}">
					Back to Login	
				</a>
			</div>
		</div>
	</div>
	{% include 'webapp/footer.html' %}
</div>


{% endblock content %}
