<div class="footer">
  <p>
    Telerehabilitation Application for Physical Therapists (TAPhT) is a web-based application that serves as a telemedicine platform for Physical Therapists and their patients. This app will help in the management and scheduling of appointments and consulatations with the goal of enabling patients and therapists alike access to these services through the internet.
  </p>
  <!-- Remove if told so -->
  <p>This web application is for partial completion of a class in CMSC 128.8 - Software Engineering II
  <hr>
  <!-- Replace with the Company Name -->
  <p>Copyright UPM Computer Science 128.2 LEC2 2022
</div> 
