<div class="footer">
  <div style="width: 100%; display:table;">
    <div style="display: table-row">
      <div style="width: 75%; display: table-cell;">
        <p>
          Telerehabilitation Application for Physical Therapists (TAPhT) is a web-based application that serves as a telemedicine platform for Physical Therapists and their patients. This app will help in the management and scheduling of appointments and consultations with the goal of enabling patients and therapists alike access to these services through the internet.
        </p>
      </div>  
      <div style="display: table-cell; padding-left:30px;">
        <h6>Links</h6>
        <p><a style="color: white;"href="/about">About Us</a></p>
      </div>
    </div> 
  </div>

  <p>This web application is for partial completion of a class in CMSC 128.8 - Software Engineering II. </p>
      
  <hr>
  <!-- Replace with the Company Name -->
  <p>Copyright UPM Computer Science 128.2 LEC2 2022</p>
</div> 
