<!-- User Profile Modal -->
<div class="modal" x-show="profilemodal" >
	<div class="modal-bg-profile" x-show="profilemodal" x-transition.opacity.duration.300ms>
		<div class="profile-page-grid-container">
			<div class="profile-page-card-grid-container">
				<div @click.away="profilemodal = false; $dispatch('body-scroll', {});" x-show="profilemodal" x-transition.scale.duration.300ms>
					<div class="profile-page-card" style="z-index: 0">
						<!--
						Used to create a notch where the profile picture goes
					
						<svg>
							<defs>
								<mask id="circle">
									<rect x="0" y="0" />
									<circle cx="50%" cy="-2" r="6.5625rem" />
								</mask>
							</defs>
							<rect x="0" y="0" mask="url(#circle)" />
						</svg> -->
						<div class="profile-picture"></div>
						<h3 class="name">{{user.first_name}} {{user.last_name}}</h3>
						<div class="account-type"><h6>{{user.get_role_display}}</h6></div>
					
						<div class="profile-page-card-body">
							<div class="info-group">
								<h6 class="label">Birthdate</h6>
								<p class="info">{{user.birthdate}}</p>
							</div>
							<div class="info-group">
								<h6 class="label">Age</h6>
								<p class="info">{{user.age}}</p>
							</div>
							<div class="info-group">
								<h6 class="label">Sex</h6>
								<p class="info">{{user.get_sex_display}}</p>
							</div>
							<div class="info-group">
								<h6 class="label">Email</h6>
								<p class="info">{{user.email}}</p>
							</div>
							<div class="info-group">
								<h6 class="label">Phone Number</h6>
								<p class="info">{{user.contact_number}}</p>
							</div>
							<div class="info-group">
							</div>
							{% if user.role == 'PT' %}
							<div class="info-group">
								<h4 class="label">Clinic Hours</h4>
								{% for field in clinic_hours %}
								<p style="margin-bottom: 1vh;">
										<a href="edit_clinic_hours/{{ field.id }}" name="edit-link" style="display: none; color: rgb(87, 213, 255);">Edit</a>
										{{ field.get_weekday_display }}
										<a href="delete_clinic_hours/{{ field.id }}" name="delete-link" style="display: none; color: rgb(197, 20, 20);">Delete</a>
										{% for hour in field.hours %}
										<ul>
											<li>
												<p>
													from {{ hour.0 }} to 
													{{ hour.1 }}
												</p>
											</li>
										</ul>
									{% empty %}
										<p style="size: 2em;">Nothing to display.</p>
									{% endfor %}
								</p>
								{% endfor %}
							</div>
							{% endif %}
						</div>
					</div>
					<div class="profile-button-group">
						<div class="profile-button-section">
							<a class="button-primary" id="edit-profile" href="{% url 'webapp:edit_profile' request.user.pk %}?prevpath={{ request.path|urlencode }}">Edit Profile</a>
						</div>
						{% if user.role == 'PT' %}
						<div class="profile-button-section">
							<a class="button-primary" id="create-clinic-hours" href="{% url 'webapp:create_clinic_hours' request.user.pk %}?prevpath={{ request.path|urlencode }}">Create Clinic Hours</a>
						</div>
						<div class="profile-button-section" style="margin-top: 2vh;">
							<a class="button-primary" id="edit-clinic-hours">Edit Clinic Hours</a>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Jquery -->
<script>
	$.fn.extend({
    toggleText: function(a, b){
        return this.text(this.text() == b ? a : b);
    }
	});
	$(document).ready(function(){
	  $("#edit-clinic-hours").click(function(){
		$("a[name='edit-link']").toggle();
		$("a[name='delete-link']").toggle();
		$("#edit-profile").toggle();
		$("#create-clinic-hours").toggle();
		$("#edit-clinic-hours").toggleText('Edit Clinic Hours', 'Back');
	  });
	});
</script>