{% extends 'webapp/base.html' %} {% block title %}Appointments{% endblock title %}
{% block content %}
<div class="main-grid-container">
  {% include 'webapp/nav_sidebar.html' %}
  <div class="main-content-area">
    <div id ="app-header-main">
    <h1 class="main-content-title" style="float: left;">Appointments</h1> <br><br>    
    <a class="button-primary button-text" style="float:right;width:15%;" href="/physical_therapists/request_appointment"> Request an Appointment </a>
    </div>
    <br>
    <table id ="app-header">
      <tr>
        <td>
          <h6>Type</h6>
        </td>
        <td>
          <h6>PT</h6>
        </td>
        <td>
          <h6>Status</h6>
        </td>
        <td>
          <h6>Date and Time</h6>
        </td>
      </tr>
    </table>
    <br><hr style="background-color: #6064D2;">
    <!-- <div id="accounts"> -->
    <div id="app-div">
      <br>
      {% for item in appointments %}
      <div class="accounts-item">
        <div class="name">
          <!-- <h6>Type</h6> -->
          <!-- <p>{{item.type}}</p> -->
          {% if item.type == "clinical" %}
          <p class="app-clinical" style="text-transform: capitalize;">{{item.type}}</p>
          {% elif item.type == "teleconsultation" %}
          <p class="app-tele" style="text-transform: capitalize;">{{item.type}}</p>
          {% else %}
          {% endif %}
        </div>
        <div class="role">
          <!-- <h6>PT</h6> -->
          <p>Dr. {{item.pt.account.first_name}} {{item.pt.account.last_name}}</p>
        </div>
        <div class="role">
          <!-- <h6>Status</h6> -->
          {% if item.status == "accepted" %}
          <p class="app-accepted" style="text-transform: capitalize;">{{item.status}}</p>
          {% elif item.status == "pending" %}
          <p class="app-pending" style="text-transform: capitalize;">{{item.status}}</p>
          {% else %}
          {% endif %}
        </div>
        <div class="email">
          <!-- <h6>Date</h6> -->
          <p>{{item.start_time}}</p>
        </div>

      </div>
      {% if item.status == "reschedule" %}
      <a class="button-primary resched-button" 
      style = "color:#495057;border-style:groove;font-weight:bold;border-color:#FFADAD;background-color:#FDFFD6;"href="/physical_therapists/reschedule_appointment/{{item.id}}"> Reschedule </a>
      <hr>
      {% else %}
      {% endif %}

      {% empty %} <div class="card">
        <div class="card-body text-center">
          <div id="empty-app">
            <br><br>
          <h5>NO APPOINTMENTS</h5>
          <br><br>
          <svg xmlns="http://www.w3.org/2000/svg" width="15%" height="15%" fill="currentColor" class="bi bi-calendar-x" viewBox="0 0 16 16">
            <path d="M6.146 7.146a.5.5 0 0 1 .708 0L8 8.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 9l1.147 1.146a.5.5 0 0 1-.708.708L8 9.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 9 6.146 7.854a.5.5 0 0 1 0-.708z"/>
            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
          </svg>
        </div>
        </div>
      </div>{% endfor %}
    </div>
  </div>
  {% include 'webapp/footer.html' %}
</div>

{% endblock content %}
