{% extends 'webapp/base.html' %}

{% block title %}Resources{% endblock title %}

{% block content %}
<div class="main-grid-container">
	{% include 'webapp/nav_sidebar.html' %}
	<div class="main-content-area">
		<h1>Files:</h1>

        <table class="table mb-0">
            <thead>
              <tr>
                <th>File name</th>
                <th>Download</th>
                
              </tr>
            </thead>
            <tbody>
              {% for file in files %}
                <tr>
            
                  <td>{{ file.filename }}</td>
                  <td>
                    <a href="{{ file.pdf.url }}" class="btn btn-primary btn-sm" target="_blank">
                      Download PDF
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

        
	</div>

	

	{% include 'webapp/footer.html' %}
</div>
{% endblock content %}
