{% extends 'webapp/base.html' %}

{% block title %}Messages{% endblock title %}

{% block content %}
<div class="main-grid-container">
	{% include 'webapp/nav_sidebar.html' %}


	<div class="main-content-area">
		<h1>Inbox</h1>
        <div id="accounts">
            {% for msg in messages %}
            <div class="accounts-item">
              <div class="name">
                <h6>Time</h6>
                <p>{{msg.date_sent}}</p>
              </div>
              <div class="name">
                <h6>Name</h6>
                <p>{{msg.sender.first_name}} {{msg.sender.last_name}}</p>
              </div>
              <a
                class="button-primary button-text"
                href="view_messages_sent/{{msg.sender.id}}/"
              >
                View Sent Messages
              </a>
              <a
              class="button-primary button-text"
              href="view_messages/{{msg.sender.id}}/"
            >
              View Received Messages
            </a>
            </div>
            {% empty %} <p>Empty</p> {% endfor %}
          </div>
          <br>
      <a
      class="button-primary button-text"
      href="/send_message"
    >
      Write a message
    </a>


		</p>
	</div>
	{% include 'webapp/footer.html' %}
</div>

{% endblock content %}
