{% extends 'webapp/base.html' %}

{% block title %}Request Appointment{% endblock title %}

{% block content %}
<div class="main-grid-container">
	{% include 'webapp/nav_sidebar.html' %}
  <br>
	<div class="main-content-area">
    <h1 id="req-app-h1">Request Appointment</h1>
    <br><br>
    <div class="request-appointment-div">
      <form method='post' >
      {% csrf_token %}
      <h6>Appointment Type</h6><br>
      <select name="appointment_type" id="appointment_type" >
        <option value="clinical">Clinical Appointment</option>
        <option value="teleconsultation">Teleconsultation Appointment</option>
      </select>
      <br><br>
      <h6>Start Date and Time</h6><br>
      <input type="datetime-local" id="sched" name="sched" required>
      <input type="datetime-local" id="sched_end" name="sched_end" hidden>
      <br><br>
      <h6>Physical Therapist</h6><br>
      <select name="pt_chosen" id="pt_chosen">
      {% for account in pt_accounts %}
        <option value="{{account.id}}">{{account.first_name}} {{account.last_name}}</option>
      {% endfor %}
    </select>
    <br>
    <br><hr><br>
    <div style = "text-align: center;">
    <button type="submit" class="button-primary button-text" 
    style="margin:0 auto; position:relative;"> Submit Request </button></div>
  <br><br>
  </form>
  
</div>
	</div>
	{% include 'webapp/footer.html' %}
</div>

{% endblock content %}
