{% extends 'webapp/base.html' %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
<div class="main-grid-container">
	{% include 'webapp/nav_sidebar.html' %}

	<div class="main-content-area">
        <form method='post' >
            {% csrf_token %}
		<h2>Request Apppointment</h2>
        <button type="submit" class="button-primary button-text" > Request Appointment </button>
      <select name="appointment_type" id="appointment_type">
        <option value="clinical">Clinical Appointment</option>
        <option value="teleconsultation">Teleconsultation Appointment</option>
      </select>

      <select name="pt_chosen" id="pt_chosen">
      {% for account in pt_accounts %}
        <option value="{{account.id}}">{{account.first_name}} {{account.last_name}}</option>
      {% endfor %}
    </select>
</form>
	</div>
	{% include 'webapp/footer.html' %}
</div>

{% endblock content %}
