{% extends 'webapp/base.html' %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
<div class="main-grid-container">
	{% include 'webapp/nav_sidebar.html' %}
	<div class="main-content-area">
		<h1>Send Message</h1>
		<div class="request-account-form-card">
			<form method='post'>
				{% csrf_token %}
				<h6>Subject</h6>
				<input type="text" name="subject">
				<h6>Text</h6>
				<input type="text" name="text">
				<select name="pt_id" id="pt_id">
					{% for account in pt_accounts %}
					  <option value="{{account.id}}">{{account.account.first_name}} {{account.account.last_name}}</option>
					{% endfor %}
				  </select>

				<div style="display: flex; justify-content: center">
					<button type="submit" class="button-primary button-text" href="{% url 'webapp:login' %}"> Submit </button>
				</div>
			</form>
		</div>
	</div>
	{% include 'webapp/footer.html' %}
</div>

{% endblock content %}
