{% extends 'webapp/base.html' %}

{% block title %}Resources{% endblock title %}

{% block content %}
<div class="main-grid-container">
	{% include 'webapp/nav_sidebar.html' %}
	<div class="main-content-area">
		<h1>Upload File</h1>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="document">
            <button type="submit">Upload file</button>
        </form>

        {% if url %}
            <p>Uploaded file: <a href="{{ url}}">{{url}}</a>  </p>

        {% endif %}
	
	</div>

	

	{% include 'webapp/footer.html' %}
</div>
{% endblock content %}
