{% extends 'webapp/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Resources{% endblock title %}

{% block content %}
<div class="main-grid-container">
	{% include 'webapp/nav_sidebar.html' %}
	<div class="main-content-area">
		<h1>Upload File</h1>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit">Upload Image</button>
        </form>


        <br></br>
        <table class="table mb-0">
            <thead>
              <tr>
                
                <th>Image</th>
                
              </tr>
            </thead>
            <tbody>
              {% for img in images %}
                <tr>
            
                  
                  <td>
                    <img src="{{ img.image.url }}" style="width: 20%; height: 75%;margin-top: 12px; margin-left: 25px;margin-bottom: 10px">
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
	
	</div>

	

	{% include 'webapp/footer.html' %}
</div>
{% endblock content %}
