{% extends 'webapp/base.html' %}

{% block title %}Messages{% endblock title %}

{% block content %}
<div class="main-grid-container">
	{% include 'webapp/nav_sidebar.html' %}
	<div class="main-content-area">
		<h1>Received Messages</h1>
    <hr>
        <div id="accounts">
            {% for msg in received_messages reversed %}
            <div class="accounts-item">
            <div class="name">
                <h6>From</h6>
                <p>{{msg.sender.first_name}} {{msg.sender.last_name}}</p>
            </div>
            <div class="name">
              <h6>Subject</h6>
              <p>{{msg.subject}}</p>
            </div>
              <div class="name">
                <h6>Text</h6>
                <p>{{msg.text}}</p>
              </div>
              <div class="name">
                <h6>Time</h6>
                <p>{{msg.date_sent}}</p>
              </div>
            </div>
            {% empty %} <p>Empty</p>  {% endfor %}

          </div>
          <hr>
      <a
      class="button-primary button-text"
      href="/send_message"
    >
     Reply
    </a>

		</p>
	</div>
	{% include 'webapp/footer.html' %}
</div>

{% endblock content %}
