{% extends 'webapp/base.html' %} {% block title %}Accounts{% endblock title %}
{% block content %}
<div class="main-grid-container">
  {% include 'webapp/nav_sidebar.html' %}
  <div class="main-content-area">
    <h1 class="main-content-title">Appointments</h1>

    <div id="accounts">
      {% for item in appointments %}
      <div class="accounts-item">
        <div class="name">
          <h6>Type</h6>
          <p>{{item.type}}</p>
        </div>
        <div class="role">
          <h6>PT</h6>
          <p>Dr. {{item.pt.account.first_name}} {{item.pt.account.last_name}}</p>
        </div>
        <div class="role">
          <h6>Status</h6>
          <p>{{item.status}}</p>
        </div>
        <div class="email">
          <h6>Date</h6>
          <p>{{item.start_time}}</p>
        </div>
        {% if item.status == "reschedule" %}
        <a class="button-primary button-text" href="/physical_therapists/reschedule_appointment/{{item.id}}"> Reschedule </a>
        {% else %}
        {% endif %}
      </div>


      {% empty %} Nada {% endfor %}
    </div>
  </div>
  {% include 'webapp/footer.html' %}
</div>

{% endblock content %}
