/* ========== Mixins and Functions ==========  */
/* ========== Color System ========== */
/* ========== Font System ========== */
@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Fredoka&display=swap");
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #dee2e6;
  margin: 0;
}

h1 {
  font-family: "Fredoka", sans-serif;
  font-weight: normal;
  font-size: 5.6102329749rem;
  line-height: 8.4153494624rem;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #6064d2;
}

h2 {
  font-family: "Fredoka", sans-serif;
  font-weight: normal;
  font-size: 4.2087269129rem;
  line-height: 6.3130903694rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

h3 {
  font-family: "Fredoka", sans-serif;
  font-weight: normal;
  font-size: 3.1573345183rem;
  line-height: 4.7360017775rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

h4 {
  font-family: "Fredoka", sans-serif;
  font-weight: normal;
  font-size: 2.368593037rem;
  line-height: 3.5528895555rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

h5 {
  font-family: "Fredoka", sans-serif;
  font-weight: normal;
  font-size: 1.776889rem;
  line-height: 2.6653335rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

h6 {
  font-family: "Fredoka", sans-serif;
  font-weight: normal;
  font-size: 1.333rem;
  line-height: 1.9995rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

p {
  font-family: "ABeeZee", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

.button-text, .profile-page-grid-container .profile-page-card-grid-container .profile-page-card .account-type :first-child, .button-primary, .dropdown .dropdown-button {
  font-family: "ABeeZee", sans-serif;
  font-size: 0.865rem;
  line-height: 1.2975rem;
  margin-top: 0px;
  margin-bottom: 0px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
}

.caption-text {
  font-family: "ABeeZee", sans-serif;
  font-size: 0.75rem;
  line-height: 1.125rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

.overline-text, .search .filter-menu .filter-menu-section .filter-menu-section-title, .dropdown .dropdown-menu .dropdown-menu-section {
  font-family: "ABeeZee", sans-serif;
  font-size: 0.625rem;
  line-height: 0.9375rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* ========== Spacing System ========== */
/* ========== Breakpoints ========== */
/* ========== Fixed Styles ========== */
a {
  color: #000;
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  a {
    color: blue;
  }
}

input:not([type=checkbox]), select:not([type=checkbox]) {
  font-family: "ABeeZee", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0px;
  margin-bottom: 0px;
  box-sizing: border-box;
  border: 15px solid white;
  border-radius: 25px;
  padding: 0 8px;
  height: 3rem;
  width: 100%;
}
input:not([type=checkbox]):focus, select:not([type=checkbox]):focus {
  outline-width: 3px;
  outline-color: #00a896;
  outline-style: solid;
}

ion-icon {
  font-size: 24px;
  text-decoration: none;
  color: white;
}

[x-cloak] {
  display: none !important;
}

.button-primary, .dropdown .dropdown-button {
  display: inline-block;
  background-color: #00a896;
  padding: 1rem 3.5rem;
  border-radius: 25px;
  border: none;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.button-primary:hover, .dropdown .dropdown-button:hover {
  filter: brightness(85%);
}

.footer {
  grid-area: footer;
  background-color: #6064d2;
  color: #f8f9fa;
  margin: 5rem 0 0;
  padding: 2.5rem 5rem;
  height: 208px;
}
.footer p:nth-child(1) {
  margin-bottom: 2.5rem;
}

.nav-sidebar {
  grid-area: nav-sidebar;
  display: flex;
  flex-direction: column;
  background-color: #6064d2;
  color: white;
  margin: 0rem 0rem 0rem -2rem;
  height: 100%;
}
.nav-sidebar .nav-item, .nav-sidebar .nav-item.active {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin: 0 8px 1rem;
  padding: 8px 1rem;
}
.nav-sidebar .nav-item:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 1rem 0rem;
  margin-bottom: 2.5rem;
}
.nav-sidebar .nav-item:first-child .profile-nav-item {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-sidebar .nav-item:first-child .profile-nav-item .profile-picture {
  box-sizing: border-box;
  height: 3rem;
  width: 3rem;
  background-color: #adb5bd;
  border-radius: 10px;
}
.nav-sidebar .nav-item:first-child .profile-nav-item .profile-label {
  margin-left: 8px;
}
.nav-sidebar .nav-item:first-child .logout-icon {
  margin-left: auto;
}
.nav-sidebar .nav-item.active {
  background-color: #00a896;
  border-radius: 10px;
}
.nav-sidebar .nav-item .nav-icon {
  margin-right: 1rem;
}

.modal {
  position: fixed;
  z-index: 3;
  inset: 0;
  overflow-y: auto;
}
.modal .modal-bg-profile {
  background-color: rgba(255, 255, 255, 0.75);
  height: 100%;
  overflow-y: auto;
}
.modal .modal-bg-profile .modal-card {
  box-sizing: border-box;
  border-radius: 25px;
  background-color: #6064d2;
  color: white;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  margin: 2.5rem;
}
.modal .modal-bg-profile .modal-card .modal-card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2.5rem;
}
.modal .modal-bg-profile .modal-card .modal-card-header button {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 100%;
}
.modal .modal-bg-profile .modal-card .modal-card-body {
  text-align: center;
}
.modal .modal-bg {
  background-color: rgba(255, 255, 255, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow-y: auto;
}
.modal .modal-bg .modal-card {
  box-sizing: border-box;
  border-radius: 25px;
  background-color: #6064d2;
  color: white;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  margin: 2.5rem;
}
.modal .modal-bg .modal-card .modal-card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2.5rem;
}
.modal .modal-bg .modal-card .modal-card-header button {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 100%;
}
.modal .modal-bg .modal-card .modal-card-body {
  text-align: center;
}

.dropdown .dropdown-button {
  display: inline-flex;
  align-items: center;
  font-size: 24px;
  padding: 8px 1rem;
  height: 100%;
  gap: 1rem;
}
.dropdown .dropdown-menu {
  z-index: 1;
  box-sizing: border-box;
  position: absolute;
  top: 3.5rem;
  left: 0;
  background-color: #f8f9fa;
  color: black;
  padding: 8px 1rem;
  border-radius: 25px;
  width: 100%;
}
.dropdown .dropdown-menu .dropdown-menu-section {
  text-transform: uppercase;
  color: #213529;
}
.dropdown .dropdown-menu .dropdown-menu-section:not(:first-child) {
  margin-top: 1rem;
}
.dropdown .dropdown-menu .dropdown-menu-item {
  display: flex;
  flex-direction: row;
}
.dropdown .dropdown-menu .dropdown-menu-item input {
  margin-right: 1rem;
}

.search {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  position: relative;
}
.search .filter-menu {
  z-index: 1;
  display: grid;
  column-gap: 1rem;
  box-sizing: border-box;
  position: absolute;
  top: 3.5rem;
  left: 0;
  background-color: #f8f9fa;
  color: black;
  padding: 8px 1rem;
  border-radius: 25px;
}
.search .filter-menu .filter-menu-section .filter-menu-section-title {
  text-transform: uppercase;
  color: #213529;
}
.search .filter-menu .filter-menu-section .filter-menu-section-title:not(:first-child) {
  margin-top: 1rem;
}
.search .filter-menu .filter-menu-section .filter-menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search .filter-menu .filter-menu-section .filter-menu-item .toggle-active {
  display: flex;
  align-items: end;
  justify-content: center;
  margin-left: auto;
  transform: scale(50%);
  --moz-transform: scale(50%);
  --webkit-transform: scale(50%);
}
.search .filter-menu .filter-menu-section .filter-menu-item .toggle-active .switch {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 2.5rem;
}
.search .filter-menu .filter-menu-section .filter-menu-item .toggle-active .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.search .filter-menu .filter-menu-section .filter-menu-item .toggle-active .switch input:checked + .slider {
  background-color: #00a896;
}
.search .filter-menu .filter-menu-section .filter-menu-item .toggle-active .switch input:checked + .slider:before {
  -webkit-transform: translateX(1.5rem);
  -ms-transform: translateX(1.5rem);
  transform: translateX(1.5rem);
}
.search .filter-menu .filter-menu-section .filter-menu-item .toggle-active .switch input:focus + .slider {
  box-shadow: 0 0 4px #00a896;
}
.search .filter-menu .filter-menu-section .filter-menu-item .toggle-active .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #adb5bd;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 25px;
}
.search .filter-menu .filter-menu-section .filter-menu-item .toggle-active .switch .slider:before {
  position: absolute;
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  left: 8px;
  bottom: 8px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 25px;
}
.search .search-bar {
  margin-left: 1rem;
}

/* ========== Component Styles ========== */
.login-grid-container {
  display: grid;
  grid-template-areas: "login-hero login-hero login-hero login-hero login-hero login-hero login-hero login-form login-form login-form login-form login-form" "footer footer footer footer footer footer footer footer footer footer footer footer";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /*   grid-template: 1fr / repeat(12, 1fr); */
  column-gap: 1rem;
}
.login-grid-container .login-hero {
  grid-area: login-hero;
  height: 100vh;
  display: flex;
  flex-direction: row;
  margin-left: 2rem;
}
.login-grid-container .login-hero .login-hero-content {
  margin: auto 116px;
}
.login-grid-container .login-hero .login-hero-content h1 {
  margin-bottom: 1rem;
}
.login-grid-container .login-form {
  grid-area: login-form;
  display: grid;
  margin-right: 2rem;
}
.login-grid-container .login-form .login-form-card {
  box-sizing: border-box;
  border-radius: 25px;
  background-color: #6064d2;
  color: white;
  padding: 4rem;
  margin: auto 0px;
}
.login-grid-container .login-form .login-form-card h3,
.login-grid-container .login-form .login-form-card button,
.login-grid-container .login-form .login-form-card a,
.login-grid-container .login-form .login-form-card #login-username,
.login-grid-container .login-form .login-form-card #reset-password {
  margin-bottom: 2.5rem;
}
.login-grid-container .login-form .login-form-card h6,
.login-grid-container .login-form .login-form-card #login-password {
  margin-bottom: 1rem;
}
.login-grid-container .login-form .login-form-card p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.request-account-grid-container {
  display: grid;
  grid-template-areas: "request-account-hero" "footer";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.request-account-grid-container .request-account-form {
  grid-area: request-account-hero;
  display: grid;
  grid-template-columns: 3.5fr 5fr 3.5fr;
  grid-template-rows: min-content auto;
  box-sizing: border-box;
  height: 100vh;
  margin: 0 2rem;
  padding: 5rem 0;
  gap: 1rem;
}
.request-account-grid-container .request-account-form .request-account-form-title {
  grid-column: 2/4;
}
.request-account-grid-container .request-account-form .request-account-form-title h1 {
  margin-bottom: 1rem;
}
.request-account-grid-container .request-account-form .request-account-form-title p {
  margin-bottom: 2.5rem;
}
.request-account-grid-container .request-account-form .request-account-form-container {
  grid-column: 2/span 1;
}
.request-account-grid-container .request-account-form .request-account-form-container .request-account-form-card {
  box-sizing: border-box;
  border-radius: 25px;
  background-color: #6064d2;
  color: white;
  padding: 4rem;
}
.request-account-grid-container .request-account-form .request-account-form-container .request-account-form-card h6 {
  margin-bottom: 1rem;
}
.request-account-grid-container .request-account-form .request-account-form-container .request-account-form-card input, .request-account-grid-container .request-account-form .request-account-form-container .request-account-form-card select {
  margin-bottom: 2.5rem;
}

.reset-password-grid-container {
  display: grid;
  grid-template-areas: "request-account-form" "footer";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.reset-password-grid-container .reset-password-form {
  grid-area: request-account-form;
  display: grid;
  grid-template-columns: 3.5fr 5fr 3.5fr;
  grid-template-rows: min-content auto;
  box-sizing: border-box;
  height: 100vh;
  margin: 0 2rem;
  padding: 5rem 0;
  column-gap: 1rem;
}
.reset-password-grid-container .reset-password-form .reset-password-form-title {
  grid-column: 2/4;
}
.reset-password-grid-container .reset-password-form .reset-password-form-title h1 {
  margin-bottom: 1rem;
}
.reset-password-grid-container .reset-password-form .reset-password-form-title p {
  margin-bottom: 2.5rem;
}
.reset-password-grid-container .reset-password-form .reset-password-form-card-grid-container {
  grid-column: 2/span 1;
  margin-bottom: 5rem;
}
.reset-password-grid-container .reset-password-form .reset-password-form-card-grid-container .reset-password-form-card {
  box-sizing: border-box;
  border-radius: 25px;
  background-color: #6064d2;
  color: white;
  padding: 4rem;
}
.reset-password-grid-container .reset-password-form .reset-password-form-card-grid-container .reset-password-form-card h6 {
  margin-bottom: 1rem;
}
.reset-password-grid-container .reset-password-form .reset-password-form-card-grid-container .reset-password-form-card input {
  margin-bottom: 2.5rem;
}

.main-grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  grid-template-areas: "nav-sidebar nav-sidebar . main-content main-content main-content main-content main-content main-content main-content main-content ." "nav-sidebar nav-sidebar footer footer footer footer footer footer footer footer footer footer";
  position: absolute;
  min-height: 100%;
  top: 0;
  left: 0;
  column-gap: 1rem;
  margin: 0 2rem;
}
.main-grid-container .main-content-area {
  grid-area: main-content;
  min-height: 100vh;
  padding-top: 4rem;
}
.main-grid-container .main-content-area .main-content-title {
  margin-bottom: 2.5rem;
}

.main-grid-container .main-content-area .account-requests-item {
  box-sizing: border-box;
  border-radius: 25px;
  background-color: #6064d2;
  color: white;
  padding: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-grid-container .main-content-area .account-requests-item div {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  padding: 8px;
}
.main-grid-container .main-content-area .account-requests-item div:hover {
  background-color: #00a896;
}
.main-grid-container .main-content-area .account-requests-item div:first-of-type {
  margin-left: auto;
}
.main-grid-container .main-content-area .account-requests-item div:not(:last-child) {
  margin-right: 1rem;
}
.main-grid-container .main-content-area .account-requests-item div ion-icon {
  font-size: 2rem;
}
.main-grid-container .main-content-area .account-requests-item div ion-icon.accept {
  color: #caffbf;
}
.main-grid-container .main-content-area .account-requests-item div ion-icon.deny {
  color: #ffadad;
}
.main-grid-container .main-content-area .account-requests-item:not(:last-child) {
  margin-bottom: 1rem;
}
.main-grid-container .main-content-area .accounts-item {
  box-sizing: border-box;
  border-radius: 25px;
  background-color: #6064d2;
  color: white;
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
  cursor: pointer;
}
.main-grid-container .main-content-area .accounts-item:not(:last-child) {
  margin-bottom: 1rem;
}
.main-grid-container .main-content-area .accounts-item .name, .main-grid-container .main-content-area .accounts-item .role, .main-grid-container .main-content-area .accounts-item .email {
  display: flex;
  flex-direction: column;
}
.main-grid-container .main-content-area .accounts-item .toggle-active {
  display: flex;
  align-items: end;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.main-grid-container .main-content-area .accounts-item .toggle-active .switch {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 2.5rem;
}
.main-grid-container .main-content-area .accounts-item .toggle-active .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.main-grid-container .main-content-area .accounts-item .toggle-active .switch input:checked + .slider {
  background-color: #00a896;
}
.main-grid-container .main-content-area .accounts-item .toggle-active .switch input:checked + .slider:before {
  -webkit-transform: translateX(1.5rem);
  -ms-transform: translateX(1.5rem);
  transform: translateX(1.5rem);
}
.main-grid-container .main-content-area .accounts-item .toggle-active .switch input:focus + .slider {
  box-shadow: 0 0 4px #00a896;
}
.main-grid-container .main-content-area .accounts-item .toggle-active .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #adb5bd;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 25px;
}
.main-grid-container .main-content-area .accounts-item .toggle-active .switch .slider:before {
  position: absolute;
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  left: 8px;
  bottom: 8px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 25px;
}
.main-grid-container .footer {
  margin: 5rem -2rem 0rem -1rem;
  box-shadow: inset 10px 0px 5px rgba(0, 0, 0, 0.25);
}

.profile-page-grid-container {
  display: grid;
  grid-template: 1fr/repeat(12, 1fr);
  height: 100%;
  top: 0;
  left: 0;
  column-gap: 1rem;
  margin: 0 2rem;
}
.profile-page-grid-container .profile-page-card-grid-container {
  grid-column: 4/span 6;
}
.profile-page-grid-container .profile-page-card-grid-container .profile-page-card {
  box-sizing: border-box;
  border-radius: 25px;
  background-color: #6064d2;
  color: white;
  padding: 4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 11.563rem 0 2.5rem 0;
  padding-top: 7.563rem;
}
.profile-page-grid-container .profile-page-card-grid-container .profile-page-card svg {
  z-index: -1;
  position: absolute;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.profile-page-grid-container .profile-page-card-grid-container .profile-page-card svg defs mask#circle rect {
  fill: white;
  width: 100vw;
  height: 100vh;
}
.profile-page-grid-container .profile-page-card-grid-container .profile-page-card svg defs mask#circle circle {
  fill: black;
}
.profile-page-grid-container .profile-page-card-grid-container .profile-page-card svg rect {
  fill: #6064d2;
  width: 100vw;
  height: 100vh;
}
.profile-page-grid-container .profile-page-card-grid-container .profile-page-card .profile-picture {
  box-sizing: border-box;
  position: absolute;
  background-color: #adb5bd;
  border-radius: 50%;
  height: 12.5rem;
  width: 12.5rem;
  /*
  height: 13.125rem;
  width: 13.125rem;
  */
  left: 0;
  right: 0;
  top: -6.563rem;
  margin: 0 auto;
}
.profile-page-grid-container .profile-page-card-grid-container .profile-page-card .name {
  margin-bottom: 1rem;
  text-align: center;
}
.profile-page-grid-container .profile-page-card-grid-container .profile-page-card .name-input-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  margin-bottom: 1rem;
}
.profile-page-grid-container .profile-page-card-grid-container .profile-page-card .name-input-group .name-input {
  grid-column: span 1;
}
.profile-page-grid-container .profile-page-card-grid-container .profile-page-card .account-type {
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}
.profile-page-grid-container .profile-page-card-grid-container .profile-page-card .account-type :first-child {
  display: inline-block;
  border-radius: 25px;
  background-color: #00a896;
  padding: 1rem 3.5rem;
  text-align: center;
  color: #f8f9fa;
}
.profile-page-grid-container .profile-page-card-grid-container .profile-page-card .profile-page-card-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}
.profile-page-grid-container .profile-page-card-grid-container .profile-page-card .profile-page-card-body .info-group .label {
  margin-bottom: 1rem;
}
.profile-page-grid-container .profile-page-card-grid-container .profile-page-card .profile-page-card-body .info-group .info {
  margin-bottom: 2.5rem;
}
.profile-page-grid-container .profile-page-card-grid-container .profile-button-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  margin-bottom: 5rem;
}
.profile-page-grid-container .profile-page-card-grid-container .profile-button-group .profile-button-section {
  grid-row: span 1;
  display: flex;
  justify-content: center;
}
.profile-page-grid-container .profile-page-card-grid-container .profile-button-group .profile-button-section .button-primary, .profile-page-grid-container .profile-page-card-grid-container .profile-button-group .profile-button-section .dropdown .dropdown-button, .dropdown .profile-page-grid-container .profile-page-card-grid-container .profile-button-group .profile-button-section .dropdown-button {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
.calendar-box {
  background-color: #ffffff;
  width: auto;
  margin-bottom: 1rem;
  border-radius:15px;
}

.main-grid-container .main-content-area .appointment-requests-item {
    box-sizing: border-box;
    border-radius: 25px;
    background-color: #6064d2;
    color: white;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .main-grid-container .main-content-area .appointment-requests-item div {
    display: flex;
    align-items: left;
    cursor: pointer;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
    padding: 2px;
  }
  .main-grid-container .main-content-area .appointment-requests-item div:hover {
    background-color: #6064d2;
  }
  .main-grid-container .main-content-area .appointment-requests-item div:first-of-type {
    margin-left: auto;
  }
  .main-grid-container .main-content-area .appointment-requests-item div:not(:last-child) {
    margin-right: auto;
  }
  .main-grid-container .main-content-area .appointment-requests-item div ion-icon {
    font-size: 2rem;
  }
  .main-grid-container .main-content-area .appointment-requests-item div ion-icon.accept {
    color: #caffbf;
  }
  .main-grid-container .main-content-area .appointment-requests-item div ion-icon.deny {
    color: #ffadad;
  }
  .main-grid-container .main-content-area .appointment-requests-item:not(:last-child) {
    margin-bottom: 1rem;
  }

  .main-grid-container .main-content-area .appointment-item {
    box-sizing: border-box;
    border-radius: 25px;
    background-color: #6064d2;
    color: white;
    padding: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    cursor: pointer;
  }
  .main-grid-container .main-content-area .appointment-item:not(:last-child) {
    margin-bottom: 1rem;
  }
  .main-grid-container .main-content-area .appointment-item .name, .main-grid-container .main-content-area .appointment-item .role, .main-grid-container .main-content-area .appointment-item .email {
    display: flex;
    flex-direction: column;
    justify-content: flex-start
  }

.teleconferencing {
    font-family: "ABeeZee", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

.teleconferencing .user-list tbody td > img {
    position: relative;
  max-width: 20%;
  float: left;
  margin-right: 15px;
}
.teleconferencing .user-list tbody td .user-link {
  display: block;
  padding-top: 3px;
  margin-left: 60px;
}
.teleconferencing  .user-list tbody td .user-subhead {
  font-size: small;
  font-style: italic;
}

.teleconferencing  #default_photo{
  position: relative;
  max-width: 30%;
  float: left;
  font-size:70px;
}

/* TABLES */
.teleconferencing .user-link{
  text-decoration: none;
  color: white;
}
.teleconferencing .table {
    border-collapse: collapse;
  width: -moz-available;
  font-size: x-large;
  color: white;
}

.teleconferencing  .table-hover > tbody > tr:hover > td,
.teleconferencing  .table-hover > tbody > tr:hover > th {
  background-color: #eee;
}
.teleconferencing .table thead > tr > th {
  border-bottom: 1px solid #C2C2C2;
  padding-bottom: 0;
}
.teleconferencing .table tbody > tr > td {
  font-size: 0.875em;
  background: #6064D2;;
  border-top: 20px solid #DEE2E6;
  vertical-align: middle;
  padding: 35px 15px;;
}

.teleconferencing .table  #opt{
    color: white;
    font-size: 3.5vw;
}

.teleconferencing .table  #opt:hover{
    color: #00a896;
}

.teleconferencing h4{
  color: #495058;
}


.teleconferencing .table thead > tr > th span {
  border-bottom: 2px solid #C2C2C2;
  display: inline-block;
  padding: 0 5px;
  padding-bottom: 5px;
  font-weight: normal;
}
.teleconferencing .table thead > tr > th > a span {
  color: #344644;
}
.teleconferencing .table thead > tr > th > a span:after {
  content: "\f0dc";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  margin-left: 5px;
  font-size: 0.75em;
}
.teleconferencing .table thead > tr > th > a.asc span:after {
  content: "\f0dd";
}
.teleconferencing .table thead > tr > th > a.desc span:after {
  content: "\f0de";
}
.teleconferencing .table thead > tr > th > a:hover span {
  text-decoration: none;
  color: #2bb6a3;
  border-color: #2bb6a3;
}
.teleconferencing .table.table-hover tbody > tr > td {
  -webkit-transition: background-color 0.15s ease-in-out 0s;
  transition: background-color 0.15s ease-in-out 0s;
}
.teleconferencing .table tbody tr td .call-type {
  display: block;
  font-size: 0.75em;
  text-align: center;
}
.teleconferencing .table tbody tr td .first-line {
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.125em;
}
.teleconferencing .table tbody tr td .first-line span {
  font-size: 0.875em;
  color: #969696;
  font-weight: 300;
}
.teleconferencing .table tbody tr td .second-line {
  font-size: 0.875em;
  line-height: 1.2;
}

/*TOOLTIP */

.teleconferencing .tooltiptext_edit_record {
  visibility: hidden;
  width: 120px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  
  /* Position the tooltip */
  position: absolute;
  font-size: 15px;
  margin-top: -90px;
  margin-left: -60px;
}
.teleconferencing .edit_record:hover .tooltiptext_edit_record {
    visibility: visible;
}
.teleconferencing .tooltiptext_msg {
  visibility: hidden;
  width: 120px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  
  /* Position the tooltip */
  position: absolute;
  font-size: 15px;
  margin-top: -50px;
  margin-left: -60px;

}
.teleconferencing .msg:hover .tooltiptext_msg {
    visibility: visible;
}
.teleconferencing .tooltiptext_view_record {
  visibility: hidden;
  width: 120px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  
  /* Position the tooltip */
  position: absolute;
  font-size: 15px;
  margin-top: -100px;
  margin-left: 20px;

}
.teleconferencing .view_record:hover .tooltiptext_view_record {
    visibility: visible;
}

.teleconferencing .box{
  padding: 20px;
}
.teleconferencing .table  td:first-child{

  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  min-width: 40%;
}
.teleconferencing .table  td:last-child{

  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.teleconferencing .no_sched {
  background-color: #adb5bd;
  padding: 50px;
  border-radius: 25px;
}